<%= notice %>

<h1>Joke # <%= @joke.id %></h1>

<br><div><%= @joke.question %><br>
<%= @joke.answer %></div><br>



<br><div><%= link_to 'Edit Joke', edit_joke_path(@joke) %> |
<%= link_to 'The Joke is on you', jokes_path %></div>
<br>