<header class="navbar navbar-fixed-top navbar-inverse">
<%= image_tag("JokesterTitle.svg", :alt => "Title") %> 
<div class="container">

        <nav>
          <ul class="nav navbar-nav navbar-right">
             <li><%= link_to "Home Page",   root_path %></li>
            <% if logged_in? %>
            <li><%= link_to "Log out", logout_path, method: "delete" %></li>
            <li><%= link_to "Profile", current_user %></li>
            <% else %>
            <li><%= link_to "Register", new_user_path %></li>
            <li><%= link_to "Log in",  login_path %></li>
            <% end %>
             <li><%= link_to "Create Joke", new_joke_path %></li>
          </ul>
        </nav>
      </div>
    </header>


